/* global settings */
body {
    margin: 0;
    padding: 0;
    font: 12px/1.3 Helvetica, Microsoft YaHei, STHeiti, Arial, sans-serif;
    background-color: #0d3b6c;
}

.global_whole {
    padding-top: 50px;
    width: 100%;
    background: url("../images/background.jpg") top center no-repeat;
    background-size: auto auto;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

/* some classes that can be used  */
div.center1000 {
    width: 1000px;
    margin: 0 auto;
}

div.clear {
    clear: both;
}

div.clear_fix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a.no_decoration {
    text-decoration: none;
}

a.always_black, a.always_black:hover, a.always_black:visited, a.always_black:active {
    color: black;
}

a.always_white, a.always_white:hover, a.always_white:visited, a.always_white:active {
    color: white;
}

a.always_inherit, a.always_inherit:hover, a.always_inherit:visited, a.always_inherit:active {
    color: inherit;
}

.font-size12 {
    font-size: 12px;
}

.font-size18 {
    font-size: 18px;
}

.font-size25 {
    font-size: 25px;
}

.background_dark_blue {
    background-color: #071a37;
}

.background_light_yellow {
    background-color: #fff8bf;
}

.background_white {
    background-color: #FFF;
}

.color_light_gray {
    color: #b0bdd0;
}

/* 导航栏 */
.global_nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 48px;
    width: 100%;
    z-index: 9999;
    padding: 0;
    border-top: 2px solid #fa7d3c;
    background-color: white;
    display: block;
}

/* logo */
.logo_large {
    float: left;
    height: 48px;
}

.logo_large h1 {
    margin: 9px 0;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

/* 搜索框 */
div.search {
    float: left;
    margin: 9px 0 9px 15px;
    border: 1px solid #ccc;
    width: 288px;
    height: 28px;
    position: relative;
    background-color: #f2f2f5;
    border-radius: 8px;
}

div.search span.placeholder, div.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 245px;
    padding: 4px 33px 4px 10px;
    height: 20px;
    line-height: 20px;
    background-color: transparent;
    overflow: hidden;
    color: #808080;
    border: none;
}

input, textarea{
    outline: none;
}

/* 导航的列表 */
.global_nav .right_position {
    float: right;
}

.global_nav div.nav_list {
    float: left;
    margin: 14px 20px 14px 0;
    padding: 0 10px 0 0;
}

ul.nav_list {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}

ul.nav_list li.horizontal, ul.nav_list li.vertical {
    float: left;
    margin-left: 30px;
}

ul.nav_list li.horizontal {
    display: inline;
    width: 5em;
}

ul.nav_list li.vertical {
    display: block;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 120%;
}

li.horizontal a, li.vertical a {
    display: block;
    padding: 5px 0 5px 10px;
    text-decoration: none;
}

li.horizontal a:hover {
    color: #eb7350
}

li.horizontal ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    background-color: white;
    position: absolute;
    left: -999em;
}

li.horizontal ul li {
    float: left;
    display: block;
}

li.horizontal:hover ul {
    left: auto;
    position: relative;
}

li.vertical a:hover, li.vertical a.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

/* 主页面 */
.global_main {
    display: block;
    background-color: rgba(8, 23, 44, 0.25);
}

/* 左栏 */
.PC_left {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
    float:left;
    position: fixed;
}

/* 左栏中的导航栏 */
.PC_left div.nav_list {
    display: block;
    width: 100%;
    margin: 0 0 10px;
}

/* 左栏中的分隔线 */
.PC_left .border {
    border-top: 1px solid #22456b;
}

/* 主内容页面 */
.PC_main {
    display: inline-block;
    width: 600px;
    margin: 10px 0 10px 150px;
    float: left;
}

/* say_something */
.say_something {
    margin: 0 0 10px 0;
    padding: 10px 10px 0 10px;
    display: block;
}

.say_something div.title {
    position: relative;
    overflow: hidden;
    height: 30px;
    color: skyblue;
}

.say_something div.input {
    padding: 5px;
    margin: 0;
    border: 1px solid #163156;
    background-color: #0c2343;
}

.say_something div.input textarea {
    background-color: transparent;
    height: 80px;
    width: 100%;
    outline: none;
    border: none;
    overflow: hidden;
    resize: none;
}

.say_something div.func_area {
    position: relative;
    display: block;
    width: 100%;
}

.say_something div.func_area div.func_kind {
    width: 380px;
    display: block;
    float: left;
}

.say_something div.func_area div.func_kind a {
    display: inline;
    float: left;
    color: white;
    padding: 10px 0;
    margin: 10px 10px;
}

.say_something div.func_area div.func_kind a:hover {
    color: #eb7350
}

.say_something .topic_box {
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
}

.topic_dropdown_content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

#top_search {
    position: relative;
    top: 30px;
}

.topic_dropdown_content li {
    list-style: none;
    padding: 4px;
}

.topic_dropdown_content a:hover {
    color: #eb7350
}

.say_something div.func_area a.submit {
    display: inline;
    float: right;
    color: white;
    width: 100px;
    background-color: #ff8140;
    padding: 10px 0;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
}

#emoji-panel {
    display: block;
    position: absolute;
    height: 300px;
    width: 500px;
}

.upload_thumb_image {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.upload_thumb_image img {
    padding: 4px;
    min-width: 80px;
    height: 80px;
}

.talking_large_image_box {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    display: block;
    width: 450px;
    margin-bottom: 10px;
    overflow: hidden;
}

.talking_large_image {
    text-align:center;
}

.talking_large_image img {
    padding:10px;
    max-width: 430px;
    max-height: 500px;
}

.talking_large_image_box a:hover {
    color: #eb7350
}

/*  talking  */

.talking_whole {

}

.talking_whole .talking {
    margin-top: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
}

.talking_whole .talking div.thumb_image {
    float: left;
    width: 50px;
}

.talking_whole .talking div.thumb_image img {
    width: 50px;
    border-radius: 50%;
}

.talking_whole .talking div.detail {
    margin: 0 0 0 60px;
    padding: 0;
}


.talking_whole .talking div.detail div.username {
    margin-bottom: 7px;
    padding: 5px 0 0 0;
}

.talking_whole .talking div.detail div.info {
    margin-bottom: 2px;
    color: #38547b;
}

.talking_whole .talking div.detail div.text {
    margin-bottom: 2px;
}

/*talking功能区的分界线*/
.talking_whole .border {
    margin: 5px -20px 10px;
    border-top: 1px solid rgba(22,45,66,0.8);
}
/*talking 底下实现comment,like功能*/
.talking_whole .talking ul.function li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 0px;
    float: left;
    width: 100px;
    text-align: center;
    border-right: solid 1px;
    border-color: #162e4f;
}
.talking_whole .talking ul.function li a {
    text-decoration: none;
    display: block;
}

/*评论框输入功能*/
.talking_whole div.input {
    padding: 0 5px;
    width: 88%;
    margin: 0 3px;
    border: 1px solid #163156;
    background-color: #0c2343;
    border-radius: 2px;
    float: left;
}
.talking_whole div.input input {
    background-color: transparent;
    height: 20px;
    width: 100%;
    outline: none;
    border: none;
    overflow: hidden;
    resize: none;
}
.talking_whole a.submit {
    display: inline;
    float: right;
    color: white;
    hight:10px;
    width: 40px;
    background-color: #ff8140;
    padding: 5px 0;
    margin: 3px 0;
    text-align: center;
    border-radius: 5px;
}

/*显示评论*/
.talking_whole .comment {
    margin-top: 5px;
    padding: 5px 10px 5px 5px;
    border-radius: 2px;
}

.talking_whole .comment div.commentThumb_image {
    float: left;
    width: 30px;
}

.talking_whole .comment div.commentThumb_image img {
    width: 30px;
    border-radius: 50%;
}

.talking_whole .comment div.commentDetail {
    margin: 0 0 0 40px;
    padding: 0;
}

.talking_whole .comment div.commentDetail div.username {
    margin-bottom: 3px;
    padding: 2px 0 0 0;
}

.talking_whole .comment div.commentDetail div.text {
    margin-bottom: 1px;
}

.talking_whole div.notice{
    margin-top: 10px;
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 2px;
    border-radius: 2px;
}

.talking_whole a.color_orange{
    color: #eb7350;
}

.talking_whole a.color_black{
    color: #333;
}

/* 右栏 */
.PC_right {
    display: inline-block;
    width: 230px;
    margin: 10px 0 0 10px;
    float: left;
}

/*  用户信息的小框  */
.person_info_box {
    margin: 0 0 10px 0;
}

.person_info_box .image_box {
    height: 75px;
    z-index: 1;
    display: block;
    position: relative;
}

.person_info_box .image_box .thumb_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: -20px;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: -33px;
    padding: 3px;
}

.person_info_box .image_box .thumb_image img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.person_info_box .inner_info_box {
    padding: 16px 16px 9px 16px;
}

.person_info_box .inner_info_box .name_box {
    height: 20px;
    line-height: 20px;
    padding-top: 10px;
    text-align: center;
}

.person_info_box .inner_info_box .name_box a {
    max-width: 114px;
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
}

.person_info_box .inner_info_box .name_box a:hover {
    color: #257cde;
}

ul.user_attention {
    overflow: hidden;
    padding: 0;
    width: 182px;
    margin: 5px auto 5px;
}

ul.user_attention li {
    float: left;
    width: 60px;
    text-align: center;
    border-right: solid 1px;
    border-color: #162e4f;
}

ul.user_attention li:last-child {
    border: 0;
}

ul.user_attention li a {
    text-decoration: none;
    display: block;
}

ul.user_attention li a:hover {
    color: #257cde;
}

ul.user_attention li a strong {
    display: block;
    font-weight: bold;
    width: 60px;
    overflow: hidden;
}

ul.user_attention li a span {
    display: block;
    color: #38547b;
    text-decoration: none;
}

/* U Maybe Know */
.maybe_know {
    width:230px;
    position: relative;
}

.maybe_know .title_box {
    border-bottom: solid 1px #122642;
    position: relative;
    height: 38px;
    padding: 0 16px;
    line-height: 38px;
}

.maybe_know .title_box h3 {
    font-size: 150%;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
}

.maybe_know .inner_box {
    padding: 0 16px;
}

.maybe_know .inner_box .one_friend {
    margin: 10px 0;
}

.maybe_know .inner_box .one_friend .thumb_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.maybe_know .inner_box .one_friend .thumb_image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.maybe_know .inner_box .one_friend .detail {
    float: left;
    width: 140px;
    margin: 0 0 0 10px;
}

.maybe_know .inner_box .one_friend .detail h5 {
    font-size: 120%;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
}

.maybe_know .inner_box .one_friend .detail span.number {
    font-size: 100%;
    font-weight: bold;
    text-decoration: none;
}

.maybe_know .inner_box .one_friend .detail span.words {
    font-size: 100%;
    font-weight: normal;
    color: #38547b;
    text-decoration: none;
}

/* 脚注 */
.global_footer {
    width: 100%;
    text-align: center;
    background-color: #041142;
    clear: both;
    margin: 10px auto 0;
    padding: 10px 0;
}














/* sign up & log in page */
#signup_whole, #login_whole {
    background: linear-gradient(to bottom, rgba(91, 91, 120, 0.98) 30%, rgba(41, 40, 59, 0.98) 100%) no-repeat;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
}
#signup_whole section, #login_whole section {
    width: 500px;
    top: 50%;
    margin-top: -340px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
    position: absolute;
}
#signup_whole section span.already, #login_whole section span.already {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}
#signup_whole section span.already a, #login_whole section span.already a {
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
}
#signup_whole section span.already a:visited, #login_whole section span.already a:visited {
    text-decoration: none;
}
#signup_whole section span.already a:hover, #login_whole section span.already a:visited {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}
#signup_whole h1, #login_whole h1 {
    color: white;
    font-weight: 500;
    font-size: 28px;
    margin: 0.2em 0;
}
#signup_whole h2, #login_whole h2 {
    color: rgba(255, 255, 255, .5);
    font-size: 17px;
    font-weight: 300;
    line-height: 1.3em;
    margin-bottom: 0.5em;
}
#signup_box, #login_box {
    background: white;
    padding: 40px;
    border-radius: 2px;
    margin: 20px 0;
}
#signup_box .instruction_box {
    width: 20%;
    position: relative;
    float: left;
    padding: 20px 0 20px;
}
#signup_box .field, #login_box .field {
    margin: 10px 0;
    width: 100%;
    position: relative;
    float: left;
}
#login_box .field input {
    width: 100%;
}
.field input {
    width: 80%;
    background-color: #f9fafb;
    padding: 20px 46px 20px 14px;
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    border: 1px solid #e0e6ea;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
.field span.error_icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 16px;
    background: url("../images/sad-face.svg") no-repeat;
    background-size: 40px;
    z-index: 100;
}
.field span.ok_icon {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 16px;
    background: url("../images/happy-face.svg") no-repeat;
    background-size: 40px;
    z-index: 100;
}
#signup_box button.submit, #login_box button.submit {
    display: block;
    background-color: #39D393;
    border-radius: 100px;
    width: 100%;
    height: 65px;
    margin: 0 auto;
    overflow: hidden;
    border: 0;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    line-height: 62px;
    box-sizing: border-box;
}

#signup_box button.red, #login_box button.red {
    background-color: red;
}
#signup_box button.disabled, #login_box button.disabled {
    background-color: dimgray;
    color: darkgray;
}

#signup_box .image_box button {
    border: none;
    background: none;
}

#signup_box .image_box {
    margin: 0 0 50px 0;
    padding: 0;
    height: 100px;
    z-index: 1;
    display: block;
    position: relative;
}

#signup_box .image_box .thumb_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -50px;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: -50px;
    padding: 0;
}

#signup_box .image_box .thumb_image img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-top: 5px;
}


/*   用户主页和组主页的头部    */
.header_box {
    width: 100%;
    height: 300px;
    margin: 50px 0;
    padding: 70px 0 0;
    z-index: 1;
    display: block;
    position: relative;
}

.header_box .thumb_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0;
}

.header_box .thumb_image img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 5px;
}

.header_box .name_box {
    width: 100%;
    text-align: center;
    color: white;
}

.header_box a {
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
}

.header_box .bottom_box {
    position: absolute;
    bottom: 0;
    width: 200px;
    left: 50%;
    margin-left: -100px;
}

#group_user_attention {
    width: 130px;
    margin-left: -65px;
}

#group_user_attention .user_attention {
    width: 123px;
}

.header_box #attention {
    background: #eb7350;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    padding: 0;
    vertical-align: middle;
}

.header_box #attention a {
    background: inherit;
    color: inherit;
    margin: auto auto;
    vertical-align: middle;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    line-height: 30px;
}

.header_box #attention a.has_attentioned {
    background: #5f636d;
}


/*  Friends  */
.friends_main {
    width: 850px;
    margin: 10px 0;
    float: left;
}

.friends_main .friend {
    margin: 0;
    padding: 20px 20px 20px 20px;
    border-radius: 2px;
    border-bottom: 1px solid #22456b;
}

.friends_main .friend div.thumb_image {
    float: left;
    width: 50px;
}

.friends_main .friend div.thumb_image img {
    width: 50px;
    border-radius: 50%;
}

.friends_main .friend div.detail {
    margin: 0 0 0 60px;
    padding: 0;
}

.friends_main .friend div.detail div.username {
    margin-bottom: 7px;
    padding: 5px 0 0 0;
}

.friends_main .talking div.detail div.signature {
    margin-bottom: 2px;
}

.friends_main .attention {
    background: #eb7350;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    padding: 0;
    vertical-align: middle;
    float: right;
}

.friends_main .attention a {
    background: inherit;
    color: inherit;
    margin: auto auto;
    vertical-align: middle;
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    line-height: 30px;
    text-decoration: none;
    display: inline-block;
}

.friends_main .attention a.has_attentioned {
    background: #5f636d;
}

#friend_left {
    position: relative;
}






/*  round_circle  */
.round_circle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.round_circle:after {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-animation: rotate 0.6s linear infinite;
    -moz-animation: rotate 0.6s linear infinite;
    -ms-animation: rotate 0.6s linear infinite;
    -o-animation: rotate 0.6s linear infinite;
    animation: rotate 0.6s linear infinite;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #545a6a;
    border-right-color: #d4d4db;
    border-bottom-color: #d4d4db;
    content: '';
    opacity: .5;
}
.round_circle.round_circle_large:after {
    width: 40px;
    height: 40px;
    position: relative;
    margin-top: 10px
}
.round_circle.round_circle_medium:after {
    width: 30px;
    height: 30px;
    position: relative;
    margin-top: 10px
}
.round_circle.round_circle_small:after {
    width: 10px;
    height: 10px;
    position: relative;
    margin-top: 10px
}
.round_circle.round_circle_green:after {
    opacity: 1;
    border: 1px solid #42a26e;
    border-right-color: #fff;
    border-bottom-color: #fff;
}
@keyframes rotate {
    0% {
        transform: rotateZ(-360deg);
        -webkit-transform: rotateZ(-360deg);
        -moz-transform: rotateZ(-360deg);
        -o-transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
    }
}
@-webkit-keyframes rotate {
    0% {
        transform: rotateZ(-360deg);
        -webkit-transform: rotateZ(-360deg);
        -moz-transform: rotateZ(-360deg);
        -o-transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
    }
}
@-moz-keyframes rotate {
    0% {
        transform: rotateZ(-360deg);
        -webkit-transform: rotateZ(-360deg);
        -moz-transform: rotateZ(-360deg);
        -o-transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
    }
}
@-o-keyframes rotate {
    0% {
        transform: rotateZ(-360deg);
        -webkit-transform: rotateZ(-360deg);
        -moz-transform: rotateZ(-360deg);
        -o-transform: rotateZ(-360deg);
    }
    100% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
    }
}
