<div class="nav_list">
    <ul class="nav_list">
        <li class="vertical"><a class="always_white no_decoration" href="#/">首页</a></li>
        <li class="vertical"><a class="always_white no_decoration" href="#/">未读消息</a></li>
        <li class="vertical"><a class="always_white no_decoration" href="#/">收藏</a></li>
        <li class="vertical"><a class="always_white no_decoration" href="#/">赞</a></li>
    </ul>
    <div class="clear"></div>
</div>

<div class="border"></div>

<div class="nav_list" ng-controller="indexController">
    <ul class="nav_list">
        <li class="vertical" ng-repeat="group in groups">
            <a class="always_white no_decoration" ng-href="#/group/{{group.gid}}">{{group.gname}}</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>