<div id="login_whole">
    <section>
        <h1>Log in for PKU Connector</h1>
        <h2>Connect Your PKU Life</h2>
        <div id="login_box">
            <form name="loginForm">
                <div class="field">
                    <input name="uname" ng-model="uname" type="text" placeholder="Your Username" required>
                    <span class="error_icon" ng-hide="loginForm.uname.$valid || loginForm.uname.$pristine"></span>
                    <span class="ok_icon" ng-show="loginForm.uname.$valid && loginForm.uname.$dirty"></span>
                </div>
                <div class="field">
                    <input name="password" ng-model="password" type="password" placeholder="Your Password" required>
                    <span class="error_icon" ng-hide="loginForm.password.$valid || loginForm.password.$pristine"></span>
                    <span class="ok_icon" ng-show="loginForm.password.$valid && loginForm.password.$dirty"></span>
                </div>
                <button ng-click="login()" ng-disabled="!loginForm.$valid" ng-class="{disabled: !loginForm.$valid, red: failed}">
                    <p ng-hide="loading">{{indicator}}</p>
                    <div class="round_circle round_circle_large round_circle_green" ng-show="loading"></div>
                </button>
                <div class="clear"></div>
            </form>
        </div>
        <span class="already">Do not have an account? <a href="#/signup">Sign Up</a> </span>
    </section>
</div>