<div class="global_whole">
    <div class="global_nav">
        <div class="center1000" ng-include="'nav.html'"></div>
    </div>
    <div class="global_main center1000 clear_fix">
        <div class="PC_left" ng-include="'./LeftPanel.html'"></div>
        <div class="PC_main" ng-include="'./WantToSaySomething.html'"></div>
        <div class="PC_main" ng-include="'./Talkings.html'"></div>
        <div class="PC_right" ng-include="'./PersonInfoBox.html'"></div>
        <div class="PC_right" ng-include="'./youMayBeKnow.html'"></div>
    </div>
    <div class="global_footer" ng-include="'./footer.html'"></div>
</div>

