<div class="global_whole">
    <div class="global_nav">
        <div class="center1000" ng-include="'nav.html'" ng-controller="navController"></div>
    </div>
    <div class="global_main center1000 clear_fix">
        <div class="PC_left" ng-include="'./leftPanel.html'"></div>
        <div class="PC_main">
            <ng-include src="'./wantToSaySomething.html'"></ng-include>
            <ng-include src="'./talkings.html'"></ng-include>
        </div>
        <div class="PC_right">
            <ng-include src="'./personInfoBox.html'"></ng-include>
            <ng-include src="'./youMayBeKnow.html'"></ng-include>
        </div>
    </div>
    <div class="global_footer" ng-include="'./footer.html'"></div>
</div>

