<!-- 导航栏的页面-->
<div class="logo_large">
    <a class="no_decoration always_black" href="#/"><h1>PKU-Connector</h1></a>
</div>

<div class="search" ng-controller="navController">
    <span class="placeholder">searching</span>
    <input ng-model="search_input">

    <div id="top_search" class="topic_dropdown_content" ng-show="userResult && search_input">
        <ul>
            <li ng-repeat="user in userResult">
                <a class="no_decoration always_black" ng-href="{{user.uid > 0 ? '#/user/'+user.uid : ''}}"
                   ng-click="">
                    <span ng-show="user.uid == -1">没有找到用户 </span>@{{user.nickname}}</a>
            </li>
        </ul>
    </div>
</div>

<div class="right_position" ng-controller="indexController">
    <div class="nav_list">
        <ul class="nav_list">
            <li class="horizontal"><a href="#/" class="always_black">首页</a></li>
            <li class="horizontal"><a href="#/user/{{me.uid}}" class="always_black">{{me.nickname}}</a></li>
        </ul>
    </div>
    <div class="nav_list">
        <ul class="nav_list">
            <li class="horizontal"><a href="#/" class="always_black">未读消息</a></li>
            <li class="horizontal">
                <a href="#/" class="always_black">设置</a>
                <ul>
                    <li><a href="#/profile" class="always_black">账号设置</a></li>
                    <li><a ng-click="logout()" href="#/login" class="always_black">登出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>