<!-- 导航栏的页面-->
<div class="logo_large">
    <a class="no_decoration always_black" href="/"><h1>PKU-Connector</h1></a>
</div>

<div class="search">
    <span class="placeholder">searching</span>
    <input data-ng-model="search_input">
</div>

<div class="right_position" ng-controller="indexController">
    <div class="nav_list">
        <ul class="nav_list">
            <li class="horizontal">index</li>
            <li class="horizontal">{{me.nickname}}</li>
        </ul>
    </div>
    <div class="nav_list">
        <ul class="nav_list">
            <li class="horizontal">未读消息</li>
            <li class="horizontal">设置</li>
        </ul>
    </div>
</div>