<div class="global_whole">
    <div class="global_nav">
        <div class="center1000" ng-include="'nav.html'" ng-controller="navController"></div>
    </div>
    <div class="global_main center1000 clear_fix">
        <div class="header_box" style='background: url("{{me.background}}") no-repeat center center; background-size: cover;'>
            <div class="thumb_image">
                <img ng-src="{{me.avatar}}">
            </div>
            <div class="name_box">
                <a class="always_white font-size25" ng-href="#/user/{{me.uid}}">{{me.nickname}}</a>
            </div>
            <div class="name_box">
                <p class="font-size12">{{me.signature}}</p>
            </div>
            <div id="attention" ng-hide="isme">
                <a href="javascript:void(0)" ng-click="attention()" ng-hide="hasAttentioned">{{attentionIndicator}}</a>
                <a href="javascript:void(0)" ng-click="unattention()" class="has_attentioned" ng-show="hasAttentioned">{{attentionIndicator}}</a>
            </div>
            <div class="bottom_box background_dark_blue">
                <ul class="user_attention font-size18">
                    <li>
                        <a class="color_light_gray" ng-href="#/friends/{{me.uid}}/0">
                            <strong>{{me.follows}}</strong><span class="font-size12">关注</span>
                        </a>
                    </li>
                    <li>
                        <a class="color_light_gray" ng-href="#/friends/{{me.uid}}/1">
                            <strong>{{me.followers}}</strong><span class="font-size12">粉丝</span>
                        </a>
                    </li>
                    <li>
                        <a class="color_light_gray" ng-href="#/user/{{me.uid}}">
                            <strong>{{me.talkings}}</strong><span class="font-size12">说说</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="PC_main">
            <ng-include src="'./user_talkings.html'"></ng-include>
        </div>
    </div>
    <div class="global_footer" ng-include="'./footer.html'"></div>
</div>

