<div class="say_something background_dark_blue" ng-controller="homepageTalkingsController">
    <div class="title">
        <span class="font-size25">W</span><span class="font-size18">ant to</span><span class="font-size25"> S</span><span class="font-size18">ay something</span><span class="font-size25">?</span>
    </div>
    <div class="input">
        <textarea class="color_light_gray font-size12" data-ng-model="text"></textarea>
    </div>
    <div class="func_area">
        <div class="func_kind">
            <a>expression</a>
            <a>image</a>
            <a>video</a>
            <a>topic</a>
        </div>
        <a class="submit no_decoration" href="" ng-click="submit()">发布</a>
        <div class="clear"></div>
    </div>
</div>